[{:db/id -1, :kotoba.map.constants/zoom-max 22.0, :kotoba.map.constants/globe-zoom-threshold 5.5, :kotoba.map.constants/solar-system-radius-factor 38.0, :kotoba.map.constants/galaxy-radius-factor 220.0, :kotoba.map.constants/geo-ring-radius-factor 2.6, :kotoba.map.constants/zoom-min -1.5, :kotoba.map.constants/earth-radius-m 6378137.0, :kotoba.map.constants/cosmic-zoom-threshold 0.2, :kotoba.map.constants/globe-radius 2048.0, :kotoba.map.constants/default-dem-tile-url "https://elevation-tiles-prod.s3.amazonaws.com/terrarium/{z}/{x}/{y}.png", :kotoba.map.constants/universe-radius-factor 960.0, :kotoba.map.constants/default-tile-url "https://tile.openstreetmap.org/{z}/{x}/{y}.png", :kotoba.map.constants/moon-orbit-radius-factor 1.8, :kotoba.map.constants/max-lat 85.05112877980659}]
